<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE configuration
	    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	    "http://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
		<settings>
			<!-- changes from the defaults -->
			<setting name="lazyLoadingEnabled" value="false" />
		</settings>
		<typeAliases>
			<!--这里给实体类取别名，方便在mapper配置文件中使用-->
			<typeAlias alias="User" type="com.umapper.po.User"/>
			<typeAlias alias="WeiSite" type="com.umapper.po.WeiSite"/>
			<typeAlias alias="Material" type="com.umapper.po.Material" />
			<typeAlias alias="Template" type="com.umapper.po.Template" />
			<typeAlias alias="ReplyRule" type="com.umapper.po.ReplyRule" />
		</typeAliases>
		<environments default="development">
			<environment id="development">
				<transactionManager type="JDBC"/>
				<dataSource type="POOLED">
					<property name="driver" value="com.mysql.jdbc.Driver"/>
					<property name="url" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=UTF-8&amp;"/>
					<property name="username" value="root"/>
					<property name="password" value="111"/>
				</dataSource>
			</environment>
		</environments>
		<!--这里添加的是执行CRUD操作的接口对应的配置文件(xml文件)
		<environments default="development">
			<environment id="development">
				<transactionManager type="JDBC"/>
				<dataSource type="POOLED">
					<property name="driver" value="com.mysql.jdbc.Driver"/>
					<property name="url" value="jdbc:mysql://sqld.duapp.com:4050/koxxKHnMwASxdQWbsAIn"/>
					<property name="username" value="FKs2dO4zWjxGlIPSpG1WpjK5"/>
					<property name="password" value="5UXTuhGD0Va33Ov9LMUuCgrODxESfuSu"/>
				</dataSource>
			</environment>
		</environments>
		-->
		<!--这里添加的是执行CRUD操作的接口对应的配置文件(xml文件)-->
		<mappers>
			<mapper resource="com/umapper/dao/xml/User.xml"/> 
			<mapper resource="com/umapper/dao/xml/WeiSite.xml"/> 
			<mapper resource="com/umapper/dao/xml/Material.xml"/>
			<mapper resource="com/umapper/dao/xml/Template.xml"/>
			<mapper resource="com/umapper/dao/xml/AutoReply.xml"/>
		</mappers>
	</configuration>